:root {
  --royal-purple: #6a4c93ff;
  --medium-purple: #9381ffff;
  --pale-purple-pantone: #feeafaff;
  --pale-pink: #fcd5ceff;
}

header {
  background-image: linear-gradient(
    to right,
    var(--medium-purple),
    var(--pale-purple-pantone)
  );
  font-family: "Permanent Marker", cursive;
  padding: 5px;
}

main {
  font-family: "Quicksand", sans-serif;
}

h3,
h4 {
  color: var(--royal-purple);
  font-family: "Permanent Marker", cursive;
}

li:hover {
  cursor: pointer;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.weather-card {
  background-color: var(--pale-purple-pantone);
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.forecast-card {
  width: 10rem;
}

@media screen and (max-width: 576px) {
  .forecast-card {
    width: 100%;
  }
}
